@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #00843d;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

nav {
    background-color: #00662c;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 5;
    width: 100%;

}

nav a {
    display: inline-block;
    padding: 4px;
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e74c3c;
}

section {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

h2 {
    color: #00843d;
    font-size: 28px;
    margin: 1 0px;
}

main {
    width: 60%;
}

.contenedor {
    margin: 40px;
    overflow: hidden;
    height: 500px;

}

.slider-contenedor {
    height: 100%;
    display: flex;
}

.contenido-slide img {
    width: calc(100vw*60/100);
    height: 100%;
}

.image-container.left,
.image-container.right {
    margin-bottom: 20px;
    overflow: hidden;
}

.image-container.left img,
.image-container.right img {
    max-width: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.productos {
    position: relative;
}

.listItems {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    gap: 20px;
    position: relative;

}

.item {
    padding: 10px;
    max-width: 44%;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

.item:hover {
    outline: 2px solid rgb(248, 248, 248);
}

.item img {
    border-radius: 6px;
    width: 120px;
    height: auto;
}

.item p {
    font-size: 12px;
}

.item .agregarItemAlCarrito {
    all: unset;
    position: absolute;
    height: 30px;
}

.item .agregarItemAlCarrito:hover {
    outline: 2px solid rgb(178, 169, 169);

}

.gruposDeCosas {
    height: 230px;
    position: relative;
}

.gruposDeCosas .nextGroup,
.gruposDeCosas .prevGroup,
.productos .prevItem,
.productos .nextItem {
    all: unset;
    position: absolute;
    top: 0;
    right: 15px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.gruposDeCosas .prevGroup,
.productos .prevItem {
    right: 45px;
}


.gruposDeCosas .list {
    height: 80%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin: 10px;
    padding: 5px;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.gruposDeCosas .itemofGroup {
    max-width: 30%;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
}

.gruposDeCosas .itemofGroup:hover {
    outline: 2px solid rgb(248, 248, 248);

}

.gruposDeCosas .itemofGroup img {
    border: 2px solid rgb(248, 248, 248);
    border-radius: 50%;
    width: 100px;
}

.gruposDeCosas .itemofGroup p {
    font-size: 12px;
}

footer {
    background-color: #00843d;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 14px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    main {
        width: 100%;
    }

    .item img {
        width: 100px;
    }

    .gruposDeCosas {
        height: 210px;
    }

    .contenedor {
        height: 300px;
    }

    .contenido-slide img {
        width: 100vw;
        height: 300px;
    }
}