@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.show {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility:hidden;
     opacity: 1;
 }
 #searchModal .modal-content {
    background: rgba(255, 255, 255, .8);
}
 .fixed-top {
    transition: 0.5s;
    background: var(--bs-white);
    border: 0;
}
 .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}
/*** Spinner End ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f9f4;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

nav {
    align-self: flex-start;
    width: 100%;
    height: 60px;
    background-color: #00843d;

}

nav img {
    height: 100%;
    margin-left: 5px;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.containers-LoginRegister {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #d3e8db;
    align-items: center;
    border-radius: 6px;
    box-shadow: 7px 5px 8px 0px #56967b;
    padding: 30px;
}

.containers-LoginRegister .front {
    width: 100%;
    height: 100%;

}

.containers-LoginRegister .front h1 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.containers-LoginRegister form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.front,
.back {
    backface-visibility: hidden;
    transition: transform 0.5s ease;

}

.containers-LoginRegister .front form input {
    display: block;

}

label {
    margin-left: 50%;
    margin-bottom: 10px;
    display: block;
    font-size: 24px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transform: translateX(-35px);
    transition: transform .5s ease;
}



.containers-LoginRegister .front form .login-field {
    width: 70%;
    padding: 20px 0px;
    position: relative;
}

.containers-LoginRegister .front form .login-icon {
    position: absolute;
    top: 30px;
    color: #75b5a0;
}

.login-input {
    border: none;
    border-bottom: 2px solid #d3e8db;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%;
    transition: .2s;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
    outline: none;
    border-bottom-color: #56967b;
}

.login-submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #d3e8db;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #489d71;
    box-shadow: 0px 2px 2px #56967b;
    cursor: pointer;
    transition: .2s;
}

.login-submit:active,
.login-submit:focus,
.login-submit:hover {
    border-color: #679e81;
    outline: none;
}

.button-icon {
    font-size: 24px;
    margin-left: auto;
    color: #75b5a0;
}

.containers-LoginRegister .back {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    position: relative;
    top: -395px;
}

.containers-LoginRegister .back h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.containers-LoginRegister .back input {
    display: block;
}

.containers-LoginRegister .back form .login-field {
    width: 70%;
    padding: 10px 0px;
    position: relative;
}

.containers-LoginRegister .back form .login-icon {
    position: absolute;
    top: 20px;
    color: #75b5a0;
}

#checkbox:checked~.containers-LoginRegister .front {
    transform: rotateY(180deg);
}

#checkbox:checked~.containers-LoginRegister .back {
    transform: rotateY(0deg);
}

#checkbox:checked+label {
    transform: translateX(20px) rotateY(180deg);

}

main p {
    margin: 10px;
    text-align: center;
}

main p span {
    margin: 20px;
}

section {
    margin: 40px;
}

@media screen and (max-width: 767px) {
    main {
        width: 100vw;
        flex-direction: column;
    }

    main section .containers-LoginRegister {
        width: 100%;
    }

    section {
        width: 90%;
        margin: 0;
    }

    section img {
        display: none;
    }
}