@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e0e0;
    font-weight: 800;
}

header {
    background-color: #00843d;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #00662c;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e74c3c;
}

section {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

h2 {
    color: #00843d;
    font-size: 28px;
}

footer {
    background-color: #00843d;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 14px;
}

.container {
    top: 70px;
    padding: 5px 20px;
    height: auto;
    width: 60%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 0 1px rgba(56, 60, 67, .05), 0 1px 3px 0 rgba(56, 60, 67, .15);
    margin: 20px;

}

.itemContainer {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 0 1px rgba(56, 60, 67, .05), 0 1px 3px 0 rgba(56, 60, 67, .15);
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.optionsForPurchase {
    margin: 20px;
    width: auto;
    height: auto;
}

.item {
    width: 150px;
    padding: 10px;
    max-width: 44%;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}

.item img {
    border-radius: 6px;
    width: 120px;
    height: auto;
}

.item p {
    font-size: 12px;
}

.item .agregarItemAlCarrito {
    all: unset;
    position: absolute;
    height: 30px;
}

.item .agregarItemAlCarrito:hover {
    outline: 2px solid rgb(178, 169, 169);

}

main {
    height: calc(100vh - 259px);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

main h2 {
    margin: 40px;
    width: auto;

}

@media screen and (max-width: 767px) {
    .container {
        width: 90%;
    }
}