@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0e0e0;
    font-weight: 800;
}

header {
    background-color: #00843d;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #00662c;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e74c3c;
}

section {
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

h2 {
    color: #00843d;
    font-size: 28px;
}

footer {
    background-color: #00843d;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    font-size: 14px;
}

main {
    height: calc(100vh - 259px);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

main h2 {
    margin: 40px;
    width: auto;

}

@media screen and (max-width: 767px) {
    .container {
        width: 90%;
    }
}